<div class="app">
  <nav class="navbar navbar-expand">
    <a href="#" class="navbar-brand title">Travel</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item mx-3">
        <a [routerLink]="['/welcome']" class="nav-link">Welcome </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link">Available Destinations </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/create']" class="nav-link" style="margin-left: 10px;">Create Destination </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a [routerLink]="['/register']" class="nav-link">Sign Up</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/login']" class="nav-link">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" style="margin-right: 20px!important;" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>